/www/packages
/www/ExpensesAzure/bin
/www/ExpensesAzure/obj
/www/.vs
/www/ExpensesAzure/Properties/PublishProfiles
*.bak
/www/ExpensesAzure.v11.suo
/www/.nuget
Web.Debug.config
Web.Release.config
Web.config
/www/Database/Import Schema Logs
/www/Database/obj/Debug
/www/UnitTests/bin/Debug
/www/UnitTests/obj/Debug
/www/Database/bin/Debug
/www/Database/Database.dbmdl
/www/Database/bin/Release
/www/Database/obj/Release
/www/UnitTests/bin/Release
/www/UnitTests/obj/Release
/www/Database/Database.jfm
