[submodule "www/ExpensesAzure/Scripts/calc"]
	path = www/ExpensesAzure/Scripts/calc
	url = https://github.com/javadev/calc

[submodule "www/ExpensesAzure/Scripts/filestyle"]
	path = www/ExpensesAzure/Scripts/filestyle
	url = https://github.com/markusslima/bootstrap-filestyle
[submodule "www/ExpensesAzure/Scripts/filestyle"]
	path = www/ExpensesAzure/Scripts/filestyle
	url = https://github.com/markusslima/bootstrap-filestyle
