<span style="float: right; vertical-align: middle; font-size: xx-small;">
	@* https://action.mindjet.com/task/14479694 *@
	@Html.Raw(ViewBag.ItemCount != null ? "Count: " + (int)ViewBag.ItemCount : "")
	@Html.Raw(ViewBag.ControlTime != null ? "Time: " + (int)ViewBag.ControlTime : "")
</span>
