@{
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#calculatorModal">
	<span>@Html.Raw("<img src=\"/Content/calculator.png\" width=14 height=17/>")</span>&nbsp;@Html.Raw(SocialApps.Repositories.MobileRepository.GetLocalizedResourceString("Calculator"))
</button>
}
