@{
<button type="button" class="btn btn-default" aria-label="Calculator">
	<span>@Html.Raw("<img src=\"/Content/calculator.png\" width=14 height=17/>")</span>&nbsp;@Html.Raw(Resources.Resources.Calculator)
</button>
}
