
@using SocialApps.Models

<ul class="nav nav-tabs">
	@{
		var currencyGroups = (CurrencyGroup[])ViewBag.CurrencyGroups;
		for (var i = 0; i < currencyGroups.Count(); i++)
		{
			var tabId = ViewBag.TabPrefix + currencyGroups[i].GroupId.ToString();

			if (i == 0)
			{
				@Html.Raw("<li role=\"presentation\" class=\"active\"><a href=\"#" + tabId + "\" data-toggle=\"tab\">" + currencyGroups[i].Currency + "</a></li>")
			}
			else
			{
				@Html.Raw("<li role=\"presentation\"><a href=\"#" + tabId + "\" data-toggle=\"tab\">" + currencyGroups[i].Currency + "</a></li>")
			}
		}
	}
</ul>
