@model SocialApps.Models.NewExpense

<tr>
	<td>
		<div class="editor-label" style="padding: 8px;">
			@Html.LabelFor(model => model.Cost, Resources.Resources.Amount)
		</div>
	</td>
	<td>
		<div class="editor-field btnEditorField" style="padding: 8px;">
			@Html.TextBoxFor(model => model.Cost, new { style = "vertical-align: middle; width: 100px;" })
			@*Html.ValidationMessageFor(model => model.Cost)*@
			@Html.DropDownListFor(model => model.Multiplier, new SelectList(new [] { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 }));
		</div>
	</td>
</tr>
