@model SocialApps.Models.NewExpense

<tr>
	<td>
		<div class="editor-label" style="padding: 8px;">
			@Html.LabelFor(model => model.Currency, SocialApps.Repositories.MobileRepository.GetLocalizedResourceString("Currency"))
		</div>
	</td>
	<td>
		<div style="white-space: nowrap;">
			<div class="editor-field btnEditorField" style="padding: 8px; display: inline-block;">
				@Html.TextBoxFor(model => model.Currency, new { style = "vertical-align: middle; width: 100px;" })
				@*Html.ValidationMessageFor(model => model.Currency)*@
			</div>
			<div style="display: inline-block;">
				<button type="button" class="btn btn-default tooltipButton" aria-label="@Html.Raw(SocialApps.Repositories.MobileRepository.GetLocalizedResourceString("SelectCurrency"))"
						onclick="onSelectCurrencyClick();" data-toggle="tooltip" data-placement="top" title="@Html.Raw(SocialApps.Repositories.MobileRepository.GetLocalizedResourceString("SelectCurrency"))">
					<span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
				</button>
			</div>
		</div>
	</td>
</tr>
