@model SocialApps.Models.NewExpense

<tr>
	<td>
		<div class="editor-label" style="padding: 8px;">
			@Html.LabelFor(model => model.Cost, Resources.Resources.Residue)
		</div>
	</td>
	<td>
		<div class="editor-field btnEditorField" style="padding: 8px;">
			@Html.TextBoxFor(model => model.Cost, new { style = "vertical-align: middle; width: 150px;" })
			@*Html.ValidationMessageFor(model => model.Cost)*@
		</div>
	</td>
</tr>
