@model SocialApps.Models.NewExpense
<tr>
	<td>
		<div class="editor-label" style="padding: 8px;">
			@Html.LabelFor(model => model.Cost, Resources.Resources.Amount)
		</div>
	</td>
	<td>
		<div style="white-space: nowrap;">
			<div class="editor-field btnEditorField" style="padding: 8px; display: inline-block;">
				@Html.TextBoxFor(model => model.Cost, new { style = "vertical-align: middle; width: 100px;" })
				@*Html.ValidationMessageFor(model => model.Cost)*@
			</div>
			<div style="display: inline-block;">
				 @Html.DropDownListFor(model => model.Multiplier, new SelectList(new[] { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 }), new { style = "height: 26px; width: 40px; position: relative; top: 1px;" })
			</div>
		</div>
	</td>
</tr>
