<div class="jumbotron" style="visibility: hidden; position: absolute; top: 0; left: 0;">
	<h1>@SocialApps.Repositories.MobileRepository.GetLocalizedResourceString("Attention")</h1>
	<p>@SocialApps.Repositories.MobileRepository.GetLocalizedResourceString("AccountPasswordHasBeenReset")</p>
	<p><a class="btn btn-primary btn-lg" role="button" onclick="window.location.href='@Url.Action("Encryption", "Mobile")';">@SocialApps.Repositories.MobileRepository.GetLocalizedResourceString("SetPassword")</a></p>
</div>
