@model System.Web.Mvc.HandleErrorInfo

@{
	ViewBag.Title = SocialApps.Repositories.MobileRepository.GetLocalizedResourceString("LockoutTitle");
}

<hgroup>
    <h1 class="text-danger">@SocialApps.Repositories.MobileRepository.GetLocalizedResourceString("LockoutDisabled")</h1>
    <h2 class="text-danger">@SocialApps.Repositories.MobileRepository.GetLocalizedResourceString("LockoutTryAgain")</h2>
</hgroup>
