@model System.Web.Mvc.HandleErrorInfo

@{
	ViewBag.Title = Resources.Resources.LockoutTitle;
}

<hgroup>
    <h1 class="text-danger">@Resources.Resources.LockoutDisabled</h1>
    <h2 class="text-danger">@Resources.Resources.LockoutTryAgain</h2>
</hgroup>
