@* https://www.evernote.com/shard/s132/nl/14501366/b0cd20cc-1706-40fc-96ad-054932a2bc7f *@
<div class="modal fade" id="progressDialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">@Html.Raw(Resources.Resources.ProgressBarWait)</h4>
			</div>
			<div class="modal-body">
				<div class="progress">
					<div class="progress-bar" id="progressBar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
						<span class="sr-only" id="progressText">0%</span>
					</div>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
