<button type="button" id="lockIndicator" class="btn btn-default" aria-label="@Resources.Resources.Encryption" onclick="window.location.href='@Url.Action("Encryption", "Mobile")';">
	<span class="glyphicon glyphicon-lock"></span>
</button>

