@{
	Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}
@* ReSharper disable UnknownCssClass *@
<div class="panel panel-primary">
	@Html.Partial("MainMenu")
	@Html.Partial("Advertising")
</div>
@* ReSharper restore UnknownCssClass *@