@{
    ViewBag.Title = SocialApps.Repositories.MobileRepository.GetLocalizedResourceString("AccountEmailConfirmation");
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

@* ReSharper disable UnknownCssClass *@
<div class="panel panel-primary">
    <div class="panel-heading">
        <table style="width: 100%;">
            <tbody>
                <tr>
                    <td>
                        @Html.Partial("TopHomeButton")
                    </td>
                    <td style="width: 100%; text-align: center;">
                        @Html.Raw(ViewBag.Title)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-body">
        <div>
            <p>
                @Html.Raw(SocialApps.Repositories.MobileRepository.GetLocalizedResourceString("AccountThankYouForEmail"))&nbsp;@Html.ActionLink(SocialApps.Repositories.MobileRepository.GetLocalizedResourceString("AccountClickToLogin"), "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
    </div>
    <div class="panel-footer">
        <div class="btn-group" role="group">
            @Html.Partial("BottomHomeButton")
        </div>
    </div>
</div>
@* ReSharper restore UnknownCssClass *@
